.franchiseContainer .selectLayout {
  /* margin-top: 20px; */
  vertical-align: middle;
}

.franchiseContainer .dataTableLayout {
  margin-top: 40px;
}

.franchiseContainer .override-select.fran {
  width: 220px;
  margin-left: 10px;
}

.searchTab {
  margin-left: 0px !important;
}

.searchFranchiseInput {
  width: 200px !important;
  margin-left: 15px;
}

.searchRiderInput {
  width: 200px !important;
  margin-left: 15px;
}


.exel img {
  width: 20px;
  margin-right: 5px;
  margin-bottom: 3px;
}
/* 상세 */
/* .franchiseContainer .ant-table-tbody > tr > td > 
.ant-table-wrapper:only-child .ant-table{
    margin: 0px;
} */

/* .franchiseContainer .ant-input-group-wrapper{
    vertical-align: middle;
} */
