.franchiseContainer .tabBtn{
    margin-left: 10px;
}

.franchiseContainer .addFranTab{
    margin-left: 0px !important;
}

.franchiseContainer .selectLayout{
    margin-top: 20px;
}

.franchiseContainer .dataTableLayout{
    margin-top: 40px;
}

.franchiseContainer .override-select.fran{
    margin-top: 10px;
    width: 463px;
}

/* 상세 */
.franchiseContainer .ant-table-tbody > tr > td > 
.ant-table-wrapper:only-child .ant-table{
    margin: 0px;
}

.franchiseContainer .ant-input-group-wrapper{
    vertical-align: middle;
}