.Dialog-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.56);
}
.Dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    border-radius: 30px;
       /* background-color: white; */
}
  .servicePop-title{
      /* font-size: 28px; */
      letter-spacing: -1px;
      font-weight: bold;
      color: #333;
      text-align: right;             
  }
  .servicePop-title-1{
    width: 30px;
    background-color: #0f53a8;
    padding: 8px;
    cursor: pointer;
  }
  .servicePop-image{
      cursor: pointer;
      float: right;
      margin-top: 20px;
   }
  .servicePop-content{
    background-color: white;
    padding:30px;
    text-align: left;
    color: #777;
  }
  .servicePop-content .agree_inner { 
      width: 100%; 
      height: 320px; 
      overflow-y: scroll; 
      border: 1px solid #ccc; 
      padding: 10px; 
      text-align: left;
  }
  

/* 시간지연 dialog */

.timeDelay-Dialog{
  position:fixed;
  top:20%;
  left:40%;
  width:400px;
}

  .timeDelay-Pop-title{
    width:400px;
    height:30px;

  }

  .timeDelay-Pop-title-1{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    float:right;

  }
  .timeDelay-Pop-image{
    float:right;
  }
  .timeDelay-Pop-content{
    padding:0px;
    width:400px;
    height:700px;
    background-color:white;

  }

  .timeDelay-Pop-content .timeDelay_inner { 
    width: 100%; 
    height: 700px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 10px; 
    text-align: left;
}



/* 유튜브-미국로또주문방법 */

.ytb-content{
  width:720px;
  height: 560px;
  background: #fff;
  text-align: center;
}

.ytb-content-box{
  padding: 20px;
}

.ytb-content-text{
  font-size: 18px;
  font-weight: 500;;
}