.Dialog-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.56);
  z-index: 1;
}
.Dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    border-radius: 30px;
    z-index: 2;
}

/* 공지사항 dialog */
.noticeDialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;
  border-radius: 30px;
  z-index: 2;
}

.noticeLayout{ 
  margin-top: 20px;
  width: 100%;
  height: 510px; 
  overflow-y: scroll; 
  border: 1px solid #ccc; 
  padding: 10px 20px 20px; 
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 30px;
}
.noticeLayout::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.noticeLayout .noticelistBlock{
  float: left;
  width: 47%;
}

.noticeLayout .noticeDetailBlock{
  float: right;
  width: 47%;
}

.noticeLayout .inputBox{
  width: 100%;
  height: 380px;
}

.noticeLayout .noticeInputBox{
  width: 100%;
  height: 380px;
}

/* 직원 등록 dialog */
.registStaff-Dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  border-radius: 30px;
  z-index: 2;
}

.container{
  background-color: white;
  padding:30px;
  text-align: left;
  color: #777;
}

.title{
  /* font-size: 28px; */
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
  text-align: right;             
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
}

.layout{ 
  margin-top: 20px;
  width: 100%;
  height: 510px; 
  overflow-y: scroll; 
  border: 1px solid #ccc; 
  padding: 10px 20px 20px; 
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.layout::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.layout .contentBlock{
  margin-top: 25px;
}

.submitBlock{
  margin-top: 30px;
  text-align: center;
}

.clearBtn{
  margin-left: 20px;
}


  /* 할증 dialog */
  .surcharge-Dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    border-radius: 30px;
    z-index: 2;
  }
  .surcharge-container{
    background-color: white;
    padding:30px;
    text-align: left;
    color: #777;
  }
  .surcharge-title{
    /* font-size: 28px; */
    letter-spacing: -1px;
    font-weight: bold;
    color: #333;
    text-align: right;             
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
  }
  .surcharge-close{
    width: 30px;
    background-color: #fddc00;
    padding: 8px;
    cursor: pointer;
    /* display: inline-block; */
    float: right;
  }
  .surchargeLayout{ 
    margin-top: 20px;
    width: 100%; 
    /* height: 675px;  */
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .surchargeLayout::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  .selectBlock .ant-form-item{
    margin-bottom: 0px;
  }
  .selectBlock .selectItem{
    display: inline-block;
  }
  .selectBlock .override-select{
    margin-left: 20px;
    width: 250px;
    font-size: 15px;
  }
  .listBlock{
    margin-top: 20px;
  }
  .listBlock .ant-btn{
    margin-left: -5px;
  }
  .surchargeLayout .insertBlock{ 
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #b5b5b5;
  }
  
  .mainTitle{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
    /* width: 75px; */
  }
  .subTitle{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
  }
  .subDatePrice{
    display: inline-block;
    margin-left:18px;
    font-size: 18px;
    vertical-align: middle;
  }
  .selectBox{
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
    color: #fddc00;
    border-radius: 10px;
  }
  .selectBox .ant-form-item{
    margin-bottom: 0px;
  }
  .selectBox .ant-picker-input > input{
    text-align: center;
  }
  .btnInsert{
    margin-top: 10px;
  }
  .inputBox{
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
    color: #fddc00;
    border-radius: 10px;
  }
  .memoInputBox{
    width: 400px;
    height: 200px;
  }
  .inputBox .ant-form-item{
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  .priceText{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 20px;
    color: #000;
  }
  .btnInsert .ant-btn{
    width: 200px;
    font-size: 18px;
    border-radius: 2px;
    vertical-align: middle;
    padding: 0px;
    height: 43px;
    float: right;
  }

  
  /* 콜등록 dialog */
  .registCall-Dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    border-radius: 30px;
    z-index: 2;
  }
  .registCall-container{
    background-color: white;
    padding:30px;
    text-align: left;
    color: #777;
  }
  .registCall-title{
    /* font-size: 28px; */
    letter-spacing: -1px;
    font-weight: bold;
    color: #333;
    text-align: right;             
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
  }
  .registCall-close{
    width: 30px;
    background-color: #fddc00;
    padding: 8px;
    cursor: pointer;
    /* display: inline-block; */
    float: right;
  }
  .registCallLayout{ 
    margin-top: 20px;
    width: 100%; 
    /* height: 725px;  */
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 10px 20px 20px; 
    text-align: left;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .registCallLayout::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  /* 왼쪽 wrappper */
  .registCallWrapper{
    display: inline-block;
  }
  .registCallWrapper .mainTitle{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
    width: 75px;
  }
  .mainTitle.sub{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 10px;
  }
  .registCallLayout .contentBlock{
    margin-top: 15px;
  }
  .contentBlock .ant-form-item{
    margin-bottom: 0px;
  }
  .contentBlock .selectItem{
    display: inline-block;
  }
  .contentBlock .override-select{
    margin-left: 20px;
    width: 250px;
    font-size: 15px;
  }
  .contentBlock .override-select.branch{
    margin-left: 20px;
    width: 400px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .contentBlock .override-select.fran{
    margin-left: 20px;
    width: 201px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .contentBlock .override-select.time{
    margin-left: 1px;
    width: 112px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .contentBlock .override-input{
    margin-left: 20px;
    width: 400px;
  }
  /* 오른쪽 wrappper */
  .registCallWrapper.sub{
    vertical-align: top;
    display: inline-block;
    width: 300px;
    margin-left: 100px;
  }
  .registCallWrapper.sub .mainTitle{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
    width: 75px;
  }
  .contentBlock .override-input.memo{
    /* margin-left: -30px; */
    width: 205px;
  }
  .contentBlock .override-input.price{
    /* margin-left: -30px; */
    width: 205px;
  }
  .contentBlock .override-input.delprice{
    /* margin-left: -30px; */
    width: 205px;
  }
  .registCallWrapper.sub .callTab{
    width: 300px;
    height: 40px;
    font-size: 18px;
    margin-top: 12px;
  }

  .registCallLayout .mapLayout{
    margin-top: 20px;
    width:1000px;
    height:600px;
}
  

  /* 가맹점등록 dialog */
.registFran-Dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  border-radius: 30px;
  z-index: 2;
}
.registFran-container{
  background-color: white;
  padding:30px;
  text-align: left;
  color: #777;
}
.registFran-title{
  /* font-size: 28px; */
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
  text-align: right;             
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
}
.registFran-close{
  width: 30px;
  background-color: #fddc00;
  padding: 8px;
  cursor: pointer;
  /* display: inline-block; */
  float: right;
}
.registFranLayout{ 
  margin-top: 20px;
  width: 100%;
  /* height: 510px;  */
  overflow-y: scroll; 
  border: 1px solid #ccc; 
  padding: 10px 20px 20px; 
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.registFranLayout::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/* 왼쪽 wrappper */
.registFranWrapper{
  display: inline-block;
}
.registFranTitle{
  display: inline-block;
  font-size: 23px;
  vertical-align: middle;
  font-weight: bold;
  color: #1890ff;
}
.registFranWrapper .mainTitle{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  width: 100px;
}
.registFranWrapper .mainTitle.red{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  width: 100px;
  color: #1890ff;
}
.mainTitle.sub{
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 10px;
}
.registFranLayout .contentBlock{
  margin-top: 15px;
}
.registFranWrapper .ant-form-item{
  margin-bottom: 0px;
}
.registFranWrapper .selectItem{
  display: inline-block;
}
.registFranWrapper .override-select{
  margin-left: 20px;
  width: 250px;
  font-size: 15px;
}
.registFranWrapper .override-select.branch{
  margin-left: 20px;
  width: 300px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}
.registFranWrapper .override-input{
  margin-left: 20px;
  width: 300px;
}
/* 오른쪽 wrappper */
.registFranWrapper.sub{
  vertical-align: top;
  display: inline-block;
  /* width: 340px; */
  margin-top: 36px;
  margin-left: 70px;
}
.registFranWrapper.sub .mainTitle{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  width: 75px;
}
.registFranWrapper.sub .override-input.sub{
  /* margin-left: -30px; */
  width: 300px;
}
.registFranWrapper.sub .override-input.price{
  /* margin-left: -30px; */
  width: 200px;
  margin-right: 10px;
}
.registFranWrapper.sub .callTab{
  width: 400px;
  height: 40px;
  font-size: 18px;
  margin-top: 60px;
}
/* 하단 랩퍼 */
.registFranWrapper.bot{
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid #b5b5b5;
  display: inline-block;
}
.registFranWrapper.bot .registFranTitle{
  font-size: 23px;
  vertical-align: middle;
  font-weight: bold;
  color: #1890ff;
}
.registFranWrapper.bot .mainTitle{
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  width: 90px;
}
.registFranWrapper.bot .subTitle{
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  /* width: 70px; */
  margin-left: 20px;
}
.registFranWrapper.bot .ant-checkbox-inner{
  width: 20px;
  height: 20px;
}
.registFranWrapper.bot .override-input.sub{
  /* margin-left: -30px; */
  margin-left: 10px;
  width: 150px;
}
.registFranWrapper.bot .selectItem{
  vertical-align: middle;
}
.registFranWrapper.bot .override-select{
  margin-left: 10px;
  width: 230px;
  font-size: 15px;
  vertical-align: middle;
}
.registFranWrapper.bot .callTab{
  width: 185px;
  height: 40px;
  font-size: 18px;
  /* margin-top: 12px; */
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}


/* 코인이체 dialog */
.coinTran-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:500px;
  z-index: 2;
}

.coinTran-content{
  padding:30px;
  background-color:white;
}

.coinTran-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}
.coinTran-close{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}
.coinTran-title-sub{
  text-align:center;
  margin-top:20px;
  font-size:16px;
  background-color:#222;
  color:#fff;
  height:32px;
  line-height:32px;
}
.coinTran-inner { 
    width: 100%; 
    height: 200px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:5px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.coinTran-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.coinTran-list{
  text-align: center;
}
.coinTran-list td{
  width:100px;
  font-size:16px;
  display:inline-block;
}
.coinTran-list .coinTran-place1{
  display: inline-block;
}
.coinTran-list .twl{
  width:400px;
  display:inline-block;
  height:60px;
  line-height:30px;
}
.coinTran-btn-01{
  margin-top:20px;
  text-align:right;
}
.coinTran-btn-01 .tabBtn{
  margin:0px!important;
}
.coinTran-btn-01 > button{
  height:40px;
  width:200px;
  font-size:20px;
  background-color:#1890ff;
  color:#fff;
  font-size:20px;
  text-align:center;
  display:inline-block;
  padding: 0px!important;
}
.coinTran-list .inputBox-coinTran.sub .ant-input{
  margin-left: -20px;
  width:300px;
}

/* 시간지연 dialog */
.timeDelay-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:780px;
  z-index: 2;
}

.timeDelay-content{
  padding:30px;
  background-color:white;
}

.timeDelay-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.timeDelay-close{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}

.timeDelay-inner { 
    width: 100%; 
    height: 650px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.timeDelay-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.timeDelay-box{
  width:610px;
  height:460px;
  margin:16px 32px;
  text-align:center;
  line-height:130px;
  margin:30px;
}

.timeDelay-box > button{
  width:144px;
  height:144px;
  float:left;
  border:1px solid #777;
  border-radius:10px;
  margin:0px 0px 10px 10px;
  font-size:25px;
}

.timeDelay-box .timeDelay-box-01, .timeDelay-box-05, .timeDelay-box-09 {
  margin-left:0px!important;
}

.timeDelay-box .timeDelay-box-10, .timeDelay-box-11, .timeDelay-box-12 {
  margin-bottom:0px!important;
}

.timeDelay-place1{
  text-align: center;
  display:inline-block;
}
.timeDelay-place1 .ant-select:not(.ant-select-customize-input) .ant-select-selector{
  width:220px;
}



.timeDelay-btn{
  display:inline-block;
  vertical-align: middle; 
}
/* .timeDelay-btn .ant-checkbox-input{
  display:inline-block;
  vertical-align: middle; 
} */
.timeDelay-btn-01{
  width:80px;
  color:#000;
  text-align:left;
  font-size:20px;
  display:inline-block;
  vertical-align: middle;
  margin-left:15px;
}

.timeDelay-btn .ant-checkbox-inner {
  width:20px;
  height:22px;
  display:inline-block;
  vertical-align: middle;
  margin:8px;
}

.timeDelay-btn .ant-checkbox-inner::after {
  width:10px;
  height:10px;
}


.timeDelay-btn-02{
  text-align:center;
  display:inline-block;
  vertical-align: middle;
  margin-left:55px;
} 

.timeDelay-btn-02 > button{
  height:50px;
  width:200px;
  font-size:20px;
  background:#40a9ff; 
  color:#fff;
  font-size:20px;
  text-align:center;
  padding: 0px!important;
  display:inline-block;
}
.timeDelay-btn-02 .timeDelay-btn{
  margin:0px!important;
}

.timeDelay-box .anticon {
  /* width:2em;
  height:2em; */
  /* font-size: 20px; */
  width: 20px;

}
/* 필터링 dialog */
.filtering-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:525px;
  z-index: 2;
}

.filtering-content{
  padding:30px;
  background-color:white;
}

.filtering-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.filtering-close{

    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}

.filtering-inner { 
    width: 100%; 
    height: 558px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.filtering-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.filtering-box{
  width:365px;
  height:448px;
  margin:30px;
}
.filtering-box .ant-checkbox{
  top: 0em!important;
}
.filtering-box .ant-checkbox-wrapper{
  display:table;
}

.filtering-box .ant-checkbox-wrapper >span{
  display:table-cell;
  text-align: center;
}

.filtering-box > div {
  width:120px;
  height:52px;
  float:left;
  margin:30px;
}

.filtering-box .ant-checkbox-inner{
  width:45px;
  height:45px;
}
.filtering-box .ant-checkbox-inner::after {
  width: 25px;
  height: 25px;
}

.filtering-box .ant-checkbox + span{
  font-size:20px;
  vertical-align: middle;
}


.riderManageBtn{
  margin-left: 10px;
}

/*기사관리*/
/*작업 스케줄러*/

.taskScheduler-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:1200px;
  z-index: 2;
}

.taskScheduler-content{
  padding:30px;
  background-color:white;
}

.taskScheduler-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.taskScheduler-close{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}

.taskScheduler-inner { 
    width: 100%; 
    height: 580px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.taskScheduler-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}


.listBlock{
  margin-top: 20px;
}
.listBlock .ant-btn{
  margin-left: -5px;
}

.mainTitle{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  /* width: 75px; */
}


.taskScheduler-btn{
  display:inline-block;
  width:1098px;
}


.taskScheduler-btn-01{
  text-align:center;
  vertical-align: middle;
  display:inline-block;
}

.rtaskScheduler-btn-01 .tabBtn{
  margin:0px!important;

}
.taskScheduler-btn-01 > button{
  height:40px;
  width:130px;
  font-size:20px;
  color:#222;
  font-size:20px;
  text-align:center;
  display:inline-block;
  padding: 0px!important;
}
.taskScheduler-btn-02{
  vertical-align: middle;
  display:inline-block;
} 

.taskScheduler-btn-02 > button{
  height:40px;
  width:130px;
  font-size:20px;
  color:#222;
  font-size:20px;
  padding: 0px!important;
  display:inline-block;
}

.taskScheduler-btn-03{
  vertical-align: middle;
  display:inline-block;
  float:right;
} 
.taskScheduler-btn-03 > button{
  height:40px;
  width:130px;
  font-size:20px;
  background:#1890ff;
  color:#fff;
  font-size:20px;
  padding: 0px!important;
  display:inline-block;
}
/*작업 스케줄러 그룹 설정*/

.taskGroup-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:1000px;
  z-index: 2;
}

.taskGroup-content{
  padding:30px;
  background-color:white;
}

.taskGroup-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.taskGroup-close{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}

.taskGroup-inner { 
    width: 100%; 
    height: 580px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.taskGroup-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}



.taskGroup-btn{
  display:inline-block;
  width:1098px;
}


.taskGroup-btn-01{
  text-align:center;
  vertical-align: middle;
  display:inline-block;
}

.taskGroup-btn-01 .tabBtn{
  margin:0px!important;

}
.taskGroup-btn-01 > button{
  height:40px;
  width:130px;
  font-size:20px;
  color:#222;
  font-size:20px;
  text-align:center;
  display:inline-block;
  padding: 0px!important;
}

.taskGroup-list{
  border:1px solid red;
  width:900px;
  display:inline-block;
  margin-top:20px;
  font-size:15px;

}
.taskGroup-list-01{
  display:inline-block;
  width:326.67px;
  height:32px;
  background-color:#333;
  color:#fff;
  text-align:center;
  line-height:32px;
}
.taskGroup-list-02{
  display:inline-block;
  width:173.33px;
  height:32px;
  background-color:#333;
  color:#fff;
  text-align:center;
  line-height:32px;
}
.taskGroup-list-03-place1{
  display:inline-block;
  float:right;

}
.taskGroup-content .listBlock{
  width:550px;
}

/*작업 스케줄러 작업등록*/

.taskWork-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:700px;
  z-index: 2;
}

.taskWork-content{
  padding:30px;
  background-color:white;
}

.taskWork-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.taskWork-close{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}

.taskWork-title-sub{
  text-align:center;
  margin-top:20px;
  font-size:16px;
  background-color:#222;
  color:#fff;
  height:32px;
  line-height:32px;
}

.taskWork-inner { 
    width: 100%; 
    height: 400px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:5px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.taskWork-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.taskWork-list{
  /* border:1px solid red; */
  height:360px;
}
.taskWork-list td{
  width:100px;
  font-size:16px;
  display:inline-block;
  /* border:1px solid blue; */
  
}


.taskWork-list .taskWork-place1{
  display: inline-block;
}

.taskWork-list .twl{
  width:600px;
  display:inline-block;
  height:60px;
  line-height:60px;
  /* border:1px solid red */
}


.taskWork-btn-01{
  margin-top:20px;
  text-align: center;
}

.taskWork-btn-01 .tabBtn{
  margin:0px!important;

}
.taskWork-btn-01 > button{
  height:40px;
  width:200px;
  font-size:20px;
  background-color:#1890ff;
  color:#fff;
  font-size:20px;
  text-align:center;
  display:inline-block;
  padding: 0px!important;
}

.taskWork-list-05 .taskWork-datepicker{
  margin-left:10px;

}

.taskWork-list-06 .ant-select:not(.ant-select-customize-input) .ant-select-selector{
  margin-left:10px;
}
.taskWork-list-06 .inputBox{
  color: #222 !important;;
}
.taskWork-list .inputBox-taskWork.sub .ant-input{
  margin-left: -20px;
  width:180px;

}

/*기사 그룹관리*/
.riderGroup-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:1000px;
  z-index: 2;
}

.riderGroup-content{
  padding:30px;
  background-color:white;
}

.riderGroup-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.riderGroup-close{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}

.riderGroup-inner { 
    width: 100%; 
    height: 675px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.riderGroup-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.riderGroup-place1{
  text-align: center;
  display:inline-block;
  margin:0px 30px;
}
.riderGroup-place1 .ant-select:not(.ant-select-customize-input) .ant-select-selector{
  width:220px;
  /* margin: 0px 30px; */
}

.riderGroup-inner .selectBlock{
  margin:20px;
}
.riderGroup-inner .selectBlock .ant-form-item{
  margin-bottom: 0px;
}
.riderGroup-inner .selectBlock .selectItem{
  display: inline-block;
}
/* .selectBlock .antd-select{
  margin-left: 20px;
  width: 250px;
  font-size: 15px;
} */

.riderGroup-inner .listBlock{
  margin-top: 20px;
}
.riderGroup-inner .listBlock .ant-btn{
  margin-left: -5px;
}

.riderGroup-inner .mainTitle{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  /* width: 75px; */
}

.riderGroup-ftline{
  border:1px solid;
  line-height:30px;
  font-size:16px;
  border:1px solid #ccc;
  height:250px;
  padding-top:20px;
}

.riderGroup-ftline td{
  width:150px;
  display:inline-block;
  margin-left:20px;
}

.riderGroup-ftline .ant-checkbox-inner{
  /* width: 25px;
  height:25px; */
  margin-right:20px;
}

/* .riderGroup-ftline .ant-checkbox-inner::after {
  width:12px;
  height:12px;
} */

.riderGroup-ftline .ant-radio-wrapper{
  font-size:16px!important;
}
.riderGroup-ftline-06{
  display: inline-block;
}

.riderGroup-btn{
  display:inline-block;
  width:292px;
  float:right;
}


.riderGroup-btn-01{
  text-align:center;
  vertical-align: middle;
  display:inline-block;
  /* margin-left:20px; */
}

.riderGroup-btn-01 .tabBtn{
  margin:0px!important;

}
.riderGroup-btn-01 > button{
  height:40px;
  width:130px;
  font-size:20px;
  background:#1890ff;
  color:#fff;
  font-size:20px;
  text-align:center;
  display:inline-block;
  padding: 0px!important;
}
.riderGroup-btn-02{
  vertical-align: middle;
  margin-left:20px;
  display:inline-block;
} 

.riderGroup-btn-02 > button{
  height:40px;
  width:130px;
  font-size:20px;
  background:#222;
  color:#fff;
  font-size:20px;
  padding: 0px!important;
  display:inline-block;
}



/*기사그룹관리 임시 input*/

.riderGroup-ftline-01, .riderGroup-ftline-03, .riderGroup-ftline-04 {
  display:inline-block;
  }

.riderGroup-ftline-03 .ant-input, .riderGroup-ftline-04 .ant-input {
    margin-left:20px;
    }

.riderGroup-ftline .inputBox{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.riderGroup-ftline .inputBox .ant-form-item{
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: middle;
}
.riderGText{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 14px;
  color: #000!important;
}
.riderGroup-ftline .ant-input{
  padding:0px!important;
}

.riderGroup-ftline .inputBox{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  margin-left:0px!important;
}

.riderGroup-ftline .inputBox-rider.sub .ant-input {
  margin-left: -10px;
}

/*기사 등록*/
.registRider-Dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  border-radius: 30px;
  z-index: 2;
}

.registRider-content{
  background-color: white;
  padding:30px;
  text-align: left;
  color: #777;
}

.registRider-title{
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
  text-align: right;             
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
}

.registRider-close{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}


.registRiderWrapper .mainTitle{
  width:130px;
}

.registRiderWrapper .registRiderCheck{
  display: inline-block;
  margin-left:22px;
}

.registRider-Dialog .layout{
  height:700px;
}

.registRiderWrapper .submitBlock{
  margin-top: 30px;
  text-align: center;
}

.registRiderWrapper .clearBtn{
  margin-left: 20px;
}

.registRiderWrapper .contentBlock .override-select.branch{
  width:240px!important;
}


.registRiderWrapper .contentBlock .override-input{
width:240px!important;
}