.Dialog-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.56);
  z-index: 1;
}
.Dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    border-radius: 30px;
    z-index: 2;
}

/* 직원 등록 dialog */
.registStaff-Dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  border-radius: 30px;
  z-index: 2;
}

.container{
  background-color: white;
  padding:30px;
  text-align: left;
  color: #777;
}

.title{
  /* font-size: 28px; */
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
  text-align: right;             
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
}

.layout{ 
  margin-top: 20px;
  width: 100%;
  height: 510px; 
  overflow-y: scroll; 
  border: 1px solid #ccc; 
  padding: 10px 20px 20px; 
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.layout::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.layout .contentBlock{
  margin-top: 25px;
}

.submitBlock{
  margin-top: 30px;
  text-align: center;
}

.clearBtn{
  margin-left: 20px;
}


  /* 할증 dialog */
  .surcharge-Dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    border-radius: 30px;
    z-index: 2;
  }
  .surcharge-container{
    background-color: white;
    padding:30px;
    text-align: left;
    color: #777;
  }
  .surcharge-title{
    /* font-size: 28px; */
    letter-spacing: -1px;
    font-weight: bold;
    color: #333;
    text-align: right;             
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
  }
  .surcharge-close{
    width: 30px;
    background-color: #fddc00;
    padding: 8px;
    cursor: pointer;
    /* display: inline-block; */
    float: right;
  }
  .surchargeLayout{ 
    margin-top: 20px;
    width: 100%; 
    height: 675px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .surchargeLayout::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  .selectBlock .ant-form-item{
    margin-bottom: 0px;
  }
  .selectBlock .selectItem{
    display: inline-block;
  }
  .selectBlock .override-select{
    margin-left: 20px;
    width: 250px;
    font-size: 15px;
  }
  .listBlock{
    margin-top: 20px;
  }
  .listBlock .ant-btn{
    margin-left: -5px;
  }
  
  .mainTitle{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
    /* width: 75px; */
  }
  .subTitle{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
  }
  .subDatePrice{
    display: inline-block;
    margin-left:28px;
    font-size: 18px;
    vertical-align: middle;
  }
  .selectBox{
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
    color: #fddc00;
    border-radius: 10px;
  }
  .selectBox .ant-form-item{
    margin-bottom: 0px;
  }
  .selectBox .ant-picker-input > input{
    text-align: center;
  }
  .btnInsert{
    margin-top: 10px;
  }
  .inputBox{
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
    color: #fddc00;
    border-radius: 10px;
  }
  .memoInputBox{
    width: 400px;
    height: 200px;
  }
  .inputBox .ant-form-item{
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
  }
  .priceText{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 20px;
    color: #000;
  }
  .btnInsert .ant-btn{
    width: 200px;
    font-size: 18px;
    border-radius: 2px;
    vertical-align: middle;
    padding: 0px;
    height: 43px;
    float: right;
  }

  
  /* 콜등록 dialog */
  .addcall-Dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    border-radius: 30px;
    z-index: 2;
  }
  .addcall-container{
    background-color: white;
    padding:30px;
    text-align: left;
    color: #777;
  }
  .addcall-title{
    /* font-size: 28px; */
    letter-spacing: -1px;
    font-weight: bold;
    color: #333;
    text-align: right;             
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
  }
  .addcall-close{
    width: 30px;
    background-color: #fddc00;
    padding: 8px;
    cursor: pointer;
    /* display: inline-block; */
    float: right;
  }
  .addcallLayout{ 
    margin-top: 20px;
    width: 100%; 
    height: 725px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 10px 20px 20px; 
    text-align: left;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .addcallLayout::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  /* 왼쪽 wrappper */
  .addcallWrapper{
    display: inline-block;
  }
  .addcallWrapper .mainTitle{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
    width: 75px;
  }
  .mainTitle.sub{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 10px;
  }
  .addcallLayout .contentBlock{
    margin-top: 15px;
  }
  .contentBlock .ant-form-item{
    margin-bottom: 0px;
  }
  .contentBlock .selectItem{
    display: inline-block;
  }
  .contentBlock .override-select{
    margin-left: 20px;
    width: 250px;
    font-size: 15px;
  }
  .contentBlock .override-select.branch{
    margin-left: 20px;
    width: 400px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .contentBlock .override-select.fran{
    margin-left: 20px;
    width: 201px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .contentBlock .override-select.time{
    margin-left: 1px;
    width: 112px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .contentBlock .override-input{
    margin-left: 20px;
    width: 400px;
  }
  /* 오른쪽 wrappper */
  .addcallWrapper.sub{
    vertical-align: top;
    display: inline-block;
    width: 300px;
    margin-left: 100px;
  }
  .addcallWrapper.sub .mainTitle{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
    width: 75px;
  }
  .contentBlock .override-input.memo{
    /* margin-left: -30px; */
    width: 205px;
  }
  .contentBlock .override-input.price{
    /* margin-left: -30px; */
    width: 205px;
  }
  .contentBlock .override-input.delprice{
    /* margin-left: -30px; */
    width: 205px;
  }
  .addcallWrapper.sub .callTab{
    width: 300px;
    height: 40px;
    font-size: 18px;
    margin-top: 12px;
  }
  .addcallMap{
    margin-top: 20px;
  }
  

  /* 가맹점등록 dialog */
.addFranchise-Dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  border-radius: 30px;
  z-index: 2;
}
.addFranchise-container{
  background-color: white;
  padding:30px;
  text-align: left;
  color: #777;
}
.addFranchise-title{
  /* font-size: 28px; */
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
  text-align: right;             
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
}
.addFranchise-close{
  width: 30px;
  background-color: #fddc00;
  padding: 8px;
  cursor: pointer;
  /* display: inline-block; */
  float: right;
}
.addFranchiseLayout{ 
  margin-top: 20px;
  width: 100%;
  height: 510px; 
  overflow-y: scroll; 
  border: 1px solid #ccc; 
  padding: 10px 20px 20px; 
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.addFranchiseLayout::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/* 왼쪽 wrappper */
.addFranchiseWrapper{
  display: inline-block;
}
.addFranchiseTitle{
  display: inline-block;
  font-size: 23px;
  vertical-align: middle;
  font-weight: bold;
  color: #1890ff;
}
.addFranchiseWrapper .mainTitle{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  width: 100px;
}
.addFranchiseWrapper .mainTitle.red{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  width: 100px;
  color: #1890ff;
}
.mainTitle.sub{
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 10px;
}
.addFranchiseLayout .contentBlock{
  margin-top: 15px;
}
.addFranchiseWrapper .ant-form-item{
  margin-bottom: 0px;
}
.addFranchiseWrapper .selectItem{
  display: inline-block;
}
.addFranchiseWrapper .override-select{
  margin-left: 20px;
  width: 250px;
  font-size: 15px;
}
.addFranchiseWrapper .override-select.branch{
  margin-left: 20px;
  width: 300px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}
.addFranchiseWrapper .override-input{
  margin-left: 20px;
  width: 300px;
}
/* 오른쪽 wrappper */
.addFranchiseWrapper.sub{
  vertical-align: top;
  display: inline-block;
  /* width: 340px; */
  margin-top: 36px;
  margin-left: 70px;
}
.addFranchiseWrapper.sub .mainTitle{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  width: 75px;
}
.addFranchiseWrapper.sub .override-input.sub{
  /* margin-left: -30px; */
  width: 300px;
}
.addFranchiseWrapper.sub .override-input.price{
  /* margin-left: -30px; */
  width: 200px;
  margin-right: 10px;
}
.addFranchiseWrapper.sub .callTab{
  width: 400px;
  height: 40px;
  font-size: 18px;
  margin-top: 60px;
}
/* 하단 랩퍼 */
.addFranchiseWrapper.bot{
  margin-top: 20px;
  display: inline-block;
}
.addFranchiseWrapper.bot .addFranchiseTitle{
  font-size: 23px;
  vertical-align: middle;
  font-weight: bold;
  color: #1890ff;
}
.addFranchiseWrapper.bot .mainTitle{
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  width: 90px;
}
.addFranchiseWrapper.bot .subTitle{
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  /* width: 70px; */
  margin-left: 20px;
}
.addFranchiseWrapper.bot .ant-checkbox-inner{
  width: 20px;
  height: 20px;
}
.addFranchiseWrapper.bot .override-input.sub{
  /* margin-left: -30px; */
  margin-left: 10px;
  width: 150px;
}
.addFranchiseWrapper.bot .selectItem{
  vertical-align: middle;
}
.addFranchiseWrapper.bot .override-select{
  margin-left: 10px;
  width: 230px;
  font-size: 15px;
  vertical-align: middle;
}
.addFranchiseWrapper.bot .callTab{
  width: 185px;
  height: 40px;
  font-size: 18px;
  /* margin-top: 12px; */
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}


/* 시간지연 dialog */
.timeDelay-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:780px;
  z-index: 2;
}

.timeDelay-content{
  padding:30px;
  background-color:white;
}

.timeDelay-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.timeDelay-close{
    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}

.timeDelay-inner { 
    width: 100%; 
    height: 650px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.timeDelay-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.timeDelay-box{
  width:610px;
  height:460px;
  margin:16px 32px;
  text-align:center;
  line-height:130px;
  margin:30px;
}

.timeDelay-box > button{
  width:144px;
  height:144px;
  float:left;
  border:1px solid #777;
  border-radius:10px;
  margin:0px 0px 10px 10px;
  font-size:25px;
}

.timeDelay-box .timeDelay-box-01, .timeDelay-box-05, .timeDelay-box-09 {
  margin-left:0px!important;
}

.timeDelay-box .timeDelay-box-10, .timeDelay-box-11, .timeDelay-box-12 {
  margin-bottom:0px!important;
}

.timeDelay-place1{
  text-align: center;
  display:inline-block;
}
.timeDelay-place1 .ant-select:not(.ant-select-customize-input) .ant-select-selector{
  width:220px;
}

.timeDelay-btn-01{
  width:120px;
  color:#000;
  text-align:left;
  font-size:20px;
  display:inline-block;
  vertical-align: middle;
  margin-left:15px;
}

.timeDelay-btn-01 .ant-checkbox-inner {
  width:20px;
  height:22px;
  display:inline-block;
  vertical-align: middle;
  margin:8px;
}

.timeDelay-btn-01 .ant-checkbox-inner::after {
  width:10px;
  height:10px;
}


.timeDelay-btn-02{
  text-align:center;
  display:inline-block;
  vertical-align: middle;
  margin-left:20px;
} 

.timeDelay-btn-02 > button{
  height:50px;
  width:230px;
  font-size:20px;
  background:#40a9ff; 
  color:#fff;
  font-size:20px;
  text-align:center;
  padding: 0px!important;
  display:inline-block;
}
.timeDelay-btn-02 .timeDelay-btn{
  margin:0px!important;
}

.timeDelay-box .anticon {
  /* width:2em;
  height:2em; */
  /* font-size: 20px; */
  width: 20px;

}
/* 필터링 dialog */
.filtering-Dialog{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:525px;
  z-index: 2;
}

.filtering-content{
  padding:30px;
  background-color:white;
}

.filtering-title{
  font-size:25px;
  font-weight:bold;
  line-height:30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.filtering-close{

    width:30px;
    cursor:pointer;
    background-color:#fddc00;
    /* display: inline-block; */
    float: right;
    padding:8px;

}

.filtering-inner { 
    width: 100%; 
    height: 558px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: left;
    margin-top:20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.filtering-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.filtering-box{
  width:365px;
  height:448px;
  margin:30px;
}
.filtering-box .ant-checkbox{
  top: 0em!important;
}
.filtering-box .ant-checkbox-wrapper{
  display:table;
}

.filtering-box .ant-checkbox-wrapper >span{
  display:table-cell;
  text-align: center;
}

.filtering-box > div {
  width:120px;
  height:52px;
  float:left;
  margin:30px;
}

.filtering-box .ant-checkbox-inner{
  width:45px;
  height:45px;
}
.filtering-box .ant-checkbox-inner::after {
  width: 25px;
  height: 25px;
}

.filtering-box .ant-checkbox + span{
  font-size:20px;
  vertical-align: middle;
}