@media screen and (max-width: 1199px) and (min-width: 300px) {
  .desk {
    display: none !important;
  }

  .mobile {
  }

  .tabBtn {
    margin-left: 10px;
  }

  .arriveArea {
    text-align: left;
  }

  .delayTab {
    margin-left: 0px !important;
  }

  .orderTab {
    margin-right: 20px !important;
  }

  .filterTab {
    margin-left: 20px !important;
  }
  .riderTableLayout {
    min-height: 200px;
    position: absolute;
    top: 20px;
    left: 10px;
    right: 10px;
    z-index: 80;
  }

  .orderTab {
    margin-left: 0px !important;
  }

  .textLayout {
    height: 30px;
  }

  .riderText {
    margin-left: 120px;
    font-size: 18px;
    font-family: NotoSansBold;
  }
  .mapLayout {
    width: 100%;
    height: 600px;
    float: left;
  }
  .regist-call-map {
    height: 200px;
    overflow: hidden;
  }

  .map-navermap {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    height: 100%;
  }

  .riderName {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  .reception-box {
    width: 100%;
  }
  .reception-box .ant-checkbox-inner {
    width: 25px;
    height: 25px;
  }
  .reception-box .ant-checkbox-inner::after {
    width: 15px;
    height: 15px;
  }

  .reception-box .ant-checkbox-wrapper {
    height: 32px;
    margin-left: 20px !important;
    vertical-align: top;
  }

  .reception-box .span1 {
    font-size: 16px;
    margin-left: 10px;
  }

  .table-red {
    background-color: #fed8d6;
  }
  .table-gray {
    background-color: gray;
  }
  .table-blue {
    background-color: #d6edfe;
    /* color: white; */
  }
  .table-white {
    background-color: white;
  }

  .btnLayout {
    margin-top: 20px;
  }
  #reception-table .ant-table .ant-table-tbody > tr {
    width: 100vw;
  }
  #reception-table .ant-table .ant-table-tbody > tr > td:first-child {
    padding-left: 10px !important;
    width: 10%;
  }
  #reception-table .ant-table .ant-table-tbody > tr > td:last-child {
  }
  #reception-table .ant-table .ant-table-thead > tr > th {
  }
  #reception-table .ant-table .ant-table-thead > tr > th:last-child {
    padding-right: 10px !important;
  }

  /* 기사관리-테이블 재정의 */
  .riderMain-container {
    width: 100%;
  }
  .dataTableLayout {
    margin-top: 20px;
    width: 100vw;
  }

  #rider-dataTableLayout .ant-table .ant-table-tbody > tr > td:first-child {
    padding-left: 10px !important;
  }
  #rider-dataTableLayout .ant-table .ant-table-tbody > tr > td:last-child {
  }

  #rider-dataTableLayout .ant-table .ant-table-thead > tr {
    width: 100vw !important;
    border: 1px solid red;
  }
  #rider-dataTableLayout .ant-table .ant-table-thead > tr > th {
    width: 100vw;
  }

  #rider-dataTableLayout .ant-table .ant-table-thead > tr > th:last-child {
    padding-right: 10px !important;
    width: 100vw;
  }
  .status-box {
    padding-bottom: 10px;
  }

  /* hr css */
  .light-hr {
    border: 0;
    height: 1px;
    background-color: #d1d1d1;
  }

 
}
