.tabBtn{
    margin-left: 10px;
}

.delayTab{
    margin-left: 0px !important;
}

.orderTab{
    margin-right: 20px !important;
}

.selectLayout{
    margin-top: 20px !important;
}

.filterTab{
    margin-left: 20px !important;
}

.dataTableLayout{
    margin-top: 40px;
}

.riderTableLayout{
    margin-top: 10px;
}

.orderTab{
    margin-left: 0px !important;
}

.textLayout{
    margin-top: 30px;
}

.riderText{
    font-size: 20px;
    font-family: NotoSansBold;
}

.mapLayout{
    width:1000px;
    height:600px;
}

.tabCheck{
 width:200px;
 height:32px;
 margin-left: 20px!important;
 vertical-align: top;
}
  .tabCheck .ant-checkbox-inner{
    width:30px;
    height:30px;
  }
  .tabCheck .ant-checkbox-inner::after {
    width: 15px;
    height: 15px;
  }

  .tabCheck .ant-checkbox + span{
    font-size:16px; 
 }
/* 
  .tabCheck span .span1{
      margin-top: -10px!important;
      width:60px;
      height:32px;
  }  */