.tabBtn{
    margin-left: 10px;
}

.delayTab{
    margin-left: 0px !important;
}

.orderTab{
    margin-right: 20px !important;
}

.selectLayout{
    margin-top: 20px !important;
    display: inline-block;
}

.filterTab{
    margin-left: 20px !important;
}

.dataTableLayout{
    margin-top: 40px;
}

.riderTableLayout{
    margin-top: 10px;
}

.orderTab{
    margin-left: 0px !important;
}

.textLayout{
    margin-top: 30px;
}

.riderText{
    font-size: 20px;
    font-family: NotoSansBold;
}

.mapLayout{
    width:1000px;
    height:600px;
}


.reception-box .ant-checkbox-inner{
    width:25px;
    height:25px;
  }
  .reception-box .ant-checkbox-inner::after {
    width: 15px;
    height: 15px;
  }  

  .reception-box .ant-checkbox-wrapper{
    height:32px;
    margin-left: 20px!important;
    vertical-align: top;
  } 
  
  .reception-box .span1{
    font-size:16px;
    margin-left:10px;

  }
  