.tabBtn{
    margin-left: 10px;
}

.delayTab{
    margin-left: 0px !important;
}

.selectLayout{
    margin-top: 20px;
}

.filterTab{
    margin-left: 20px !important;
}

.dataTableLayout{
    margin-top: 40px;
}