.riderContainer
  .ant-table-tbody
  > tr
  > td
  > .ant-table-wrapper:only-child
  .ant-table {
  margin: 0px;
}

.searchRiderInput {
  width: 200px !important;
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .rider-filtering-box {
    border: 1px solid #d1d1d1;
    display: flex;
    width: 567px;
    margin-top: 10px;
  }
  .rider-status {
    float: right;
    display: inline-block;
    width: 120px;
    font-size: 15px;
    border: 1px solid #d1d1d1;
    text-align: center;
    margin-left: 15px;
    /* margin-top: -29px; */
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
  }
  .select-rider-status{
    float: right;
    display: inline-block;
    margin-top: -29px;
    margin-right: 15px;
  }
}
