.riderContainer
  .ant-table-tbody
  > tr
  > td
  > .ant-table-wrapper:only-child
  .ant-table {
  margin: 0px;
}

.searchRiderInput {
  width: 200px !important;
  margin-left: 15px;
}

.riderMain-container .selectLayout {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .riderStatus{
    float: right;
    margin-top: -45px;
  }
  .rider-status {
    display: inline-block;
    width: 120px;
    font-size: 15px;
    border: 1px solid #d1d1d1;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
  }
}

