.searchRequirement{
    margin-top: 10px !important;
}

.searchRequirementText{
    font-size: 15px;
    font-family: NotoSansBold;
}

.registStaff{
    float: right;
    background-color: #fddc00;
    font-family: NotoSansRegular;
    border: #fddc00;
}